@media all {

@keyframes move3 {
    0% {
        opacity: 0.0;
    }

    /*50% {
        opacity: 1.5;
    }*/

    100% {
        opacity: 1.5;
        top: 19vh;
        left: 11vw;
        font-size: 20px;
    }
}
}