@media all {

@keyframes info-Text1 {
    0% {
        /*position: absolute;*/
        opacity: 0.0;
        /*top: 10vh;
        left: 16vw;
        font-size: 20px;*/
    }
    70% {
        /*position: absolute;*/
        opacity: 0.0;
        /*top: 10vh;
        left: 16vw;
        font-size: 20px;*/    
    }
    100% {
        /*position: absolute;*/
        opacity: 1.5;
        /*top: 10vh;
        left: 16vw;
        font-size: 20px;*/    
    }
}
}