@media all {

.main-content-aboutMeContent-text2 {
    position: absolute;
    top: 50vh;
    left: 50vw;
}

.main-content-aboutMeContent-text2-animation {
    animation: move2 5s ease-in-out forwards;
}
}